<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hello wolrd</title>
</head> 
<body>
	<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
	<table>
      <tr>
        <td>
            <h2 style="margin-right: 20px">WWW ip</h2>
        </td>
        <td><h2>{{ realIp }}</h2></td>
      </tr>
      <tr>
        <td>
            <h2>Local ip</h2>
        </td>
        <td><h2>{{ socketName }}</h2></td>
      </tr>
    </table>
	<h1>
		hello, database!
	</h1>
	{% block users %}
	{% endblock %}
</body>
</html>